/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    color: white;
    margin: 20px;
    padding: 20px;
    background-color: #3f3c4a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor-galeria {
    display: flex;
    justify-content: space-around;
}

.contenedor-galeria img {
    height: 250px;
    max-width: 30%;
    border-radius: 10px;
}

.contenedor-videos {
    display: flex;
    justify-content: space-around;
}

.contenedor-videos video {
    max-width: 45%;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

footer h3 {
    margin-top: 0;
}

#ojoJPEG {
    border-radius: 15px;
}

.dobleLista-contenedor {
    display: flex;
    justify-content: space-evenly;
}

.dobleLista {
    display: flex;
    flex-direction: column;
}

.lista {
    display: flex;
}

.dobleLista img {
    height: 300px;
    width: auto;
    border-radius: 15px;
}

.imagenes-dobleLista {
    display: flex;
    align-items: center;
}

.artistico-contenedor .artistico-imagenes {
    display: flex;
    justify-content: space-evenly;
}

.artistico-contenedor .artistico-imagenes img {
    height: 300px;
    width: auto;
    border-radius: 15px;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    background-color: #3f3c4a;
    border-radius: 10px;
}

.carousel {
    display: flex;  /* Asegura la alineación horizontal de las imágenes */
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    display: flex;  /* Asegura que las imágenes se coloquen en una fila horizontal */
}

.carousel-slide img {
    width: 100%;  /* Mantiene la imagen dentro del contenedor */
    height: 300px;  /* Altura fija */
    object-fit: cover;  /* Mantiene la proporción de la imagen y rellena el contenedor */
    border-radius: 10px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}
